{%  load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Sign Up</title>
</head>
<body>
<header>
	<div class="container1">
		<div class="left-sight">
			<div class="menu">
				<ul>
					<li class="active">
						<a href="{% url 'home_page' %}">
							<i class="fa fa-home" aria-hidden="true"></i>
							Home
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<ul>
				{% if not request.user.is_authenticated %}
				<li>
					<a href="{% url 'register_page' %}">
						<i class="fa fa-user-o" aria-hidden="true"></i>
						Sign Up
					</a>
				</li>
				<li>
					<a href="{% url 'login_page' %}">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
						Sign In
					</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'profile_page' %}">
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						{{ request.user.username }}
					</a>
				</li>
				<li>
					<a href="{% url 'logout_page' %}">
						<i class="fa fa-sign-out" aria-hidden="true"></i>
						 Sign Out
					</a>
			   </li>
				{% endif %}
			</ul>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="user signinbox">
			<div class="formbox">
				<form method="post">
					<p>Create an Account</p>
						{% csrf_token %}
						{{ form }}
						<button type="submit" class="reg_button">Submit</button>
					<p class="signup">
						Have an Account ?
						<a href="{% url 'login_page' %}"> Sign In.</a>
					</p>
				</form>
			</div>
		</div>
	</div>
	<div class="area" >
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div >
</section>
</body>
</html>
