*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, plum, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a{
    text-decoration: none;
    cursor: pointer;
}

header{
    width: 100%;
    min-height: 61px;
    position: absolute;
    background: inherit;
    color: #FFFDFA;
    opacity: 0.7;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2em;
    z-index: 3;
}

.container1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-sight{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu > ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu >ul >li{
    list-style: none;
    margin-left: 30px;
    font-size: 20px;
}

.menu > ul > li > a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

section{
    position: relative;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    position: relative;
    width: 450px;
    min-height: 400px;
    opacity: 0.6;
    overflow: hidden;
}

.user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbox{
    position: relative;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

form p{
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    color: white;
}

form h3{
    width: 100%;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

form input{
    position: relative;
    width: 100%;
    padding: 10px;
    background: inherit;
    color: #333;
    border: 1px solid black;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

form > span{
    display: none;
}

form > label{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color: white;
}

form > ul > li{
    margin: 15px 0;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    color: white;
}

.sign_button{
    width: 100px;
    height: 40px;
    margin: 10px 0 0 0;
    background: #212A4A;
    border: none;
    color: #D5F8FF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    outline: none;
}

.signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
}

.signup a{
    margin-left: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}