{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home</title>
</head>
<body>
<header>
    <div class="container1">
        <div class="left-sight">
            <div class="menu">
                <ul>
                    <li class="active">
                        <a href="{% url 'home_page' %}">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <ul>
                {% if not request.user.is_authenticated %}
                {% else %}
                <li>
                    <a href="{% url 'profile_page' %}">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        {{ request.user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout_page' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                         Sign Out
                    </a>
               </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
<div class="row">
        <div class="col-md-12">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
          {{ message }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
</div>
<section>
    <h2>COGNITIVE LLC</h2>
    <div class="container">
        <form method="POST" action="{% url 'start_work' %}">
            {% csrf_token %}
			<button class="work_start">Work Start</button>
        </form>
		<form method="POST" action="{% url 'start_break' %}">
            {% csrf_token %}
            <button class="break_start">Break Start</button>
        </form>
		<form method="POST" action="{% url 'end_break' %}">
            {% csrf_token %}
             <button class="break_end">Break Finished</button>
        </form>

        <form method="POST" action="{% url 'end_work' %}">
            {% csrf_token %}
            <button class="work_end">Work Finished</button>
        </form>
    </div>
    <div class="icons">
        <ul class="icon-list">
            <li class="icon-item">
                <a href="https://www.facebook.com/CognitiveLLC" class="icon-link" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://www.instagram.com/" class="icon-link" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://www.linkedin.com/" class="icon-link" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://github.com/" class="icon-link" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://www.youtube.com/watch?v=gnZgNYoZkeU" class="icon-link" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://stackoverflow.com/" class="icon-link" target="_blank">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://about.gitlab.com/" class="icon-link" target="_blank">
                    <i class="fa fa-gitlab" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <iframe src="https://free.timeanddate.com/clock/i7vxyfq3/n370/tlam/fn16/fs22/tct/pct/ftbi/tt0/th1"
        frameborder="0" width="442" height="28" allowtransparency="true"></iframe>
</section>
</body>
</html>